<h1>New game</h1>
<h2>Grid: <%= @grid %></h2>
<p>What is the longest word you can find?</p>

<form action="/score" data-turbo="false">
  <input type="text" name="attempt">
  <input type="submit" value="Play">
</form>
